<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/44776954-acfc-45dd-b643-d174c4373825/resourceGroups/rg-prod-linux-game-of-life/providers/Microsoft.Web/sites/ladi-molnar-game-of-life</ResourceId>
    <ResourceGroup>rg-prod-linux-game-of-life</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ladi-molnar-game-of-life.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ffc33216-b5af-4ff4-90ca-dcaca241f0a3</ProjectGuid>
    <PublishUrl>https://ladi-molnar-game-of-life.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ladi-molnar-game-of-life</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>