body {
    background-color: aquamarine;
}

section {
    border: 2px solid black;
    background-color: beige;
}

main {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content auto min-content;
}

.SectionTop {
    grid-column: 1 / 3;
    padding: 0px 10px;
}

.SectionLeft {
    grid-column: 1;
    grid-row: 2/4;
    
}

.SectionControls {
    grid-column: 2/3;
    grid-row: 2/3;
}

.SectionBoard {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 400px;
    height: 400px;
}
