
.top-menu {
    display: grid;
    grid-template-columns: max-content minmax(100px, auto) max-content;
    padding: 5px 15px;
}

.top-menu-left {
    grid-column: 1/2;
    display: flex;
}

.top-menu-right {
    grid-column: 3/4;
    display: flex;
}



